Repository escapace/typescript-library-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

.lintstagedrc.json:

{
  "package.json": [
    "syncpack-format --source",
    "syncpack-set-semver-ranges --dev --source"
  ],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "{src}/**/*.ts?(x)": ["eslint --fix", "prettier --write"],
  "{src}/**/*.js?(x)": ["eslint --fix", "prettier --write"],
  "{src}/**/*.graphql": ["prettier --write"]
}

fix: scripts/test.js -> scripts/test.mjs
  package.json
  scripts/test.mjs
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

Notes added by 'git notes add'
  1ddb5f6caf906aff115cddab82c37c24b9529d65
Due: none

feat: build script
  .c8rc.json
  .npmignore
  package-lock.json
  package.json
  scripts/build.mjs
  scripts/test.mjs
  tsconfig-build.json
  tsconfig.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

fix: build dependencies
  .c8rc.json
  package-lock.json
  package.json
  scripts/build.mjs
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

fix: lint-staged warrning
  .lintstagedrc.json
Due: prettier --write

Notes added by 'git notes add'
  adbb65e910a1de9874ab3b44ef18d757837cf5cf
Due: none

fix: .editorconfig
  .editorconfig
  package-lock.json
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

fix: .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

Notes added by 'git notes add'
  9f0311a937087a66cf9aded209d0c448ff37a4b8
Due: none

feat: updates
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

Notes added by 'git notes add'
  58cb3ff372aafb70a23362d90bbcd4bb6ca25a2a
Due: none

feat: move to pnpm
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

fix: missing pnpm
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: remove pnpm
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

Notes added by 'git notes add'
  cef271036f868991b481e1ebaca2b0c355b829fb
Due: none

feat: node 16
  .eslintrc.json
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
  scripts/test.mjs
  tsconfig.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

fix: dependabot for github actions
  .github/dependabot.yml
  .github/renovate.json5
Due: none

Notes added by 'git notes add'
  006f619addb6620a9faae4ccc40cc40b41bf677e
Due: none

fix: package.json
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

Notes added by 'git notes add'
  507878edcfc84625c0bfedc8378feb84d7d19109
Due: none

chore: move codecov.yml to .github
  .github/codecov.yml
Due: none

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none
