Repository escapace/typescript-library-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: gh release
  .github/workflows/release.yml
Due: none

feat: labeler
  .github/labeler.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/node-version.yml
  .github/workflows/pnpm-version.yml
  .github/workflows/release.yml
Due: none

feat: changelog
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: enable dashboard
  .github/renovate.json5
Due: none

fix: renovate
  .github/renovate.json5
Due: none

fix: do not use npx
  .husky/commit-msg
Due: none

fix: use head sha on pr
  .github/workflows/release.yml
Due: none

fix: use yaml
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/release.yml
  .github/workflows/dependency-review.yaml
  .github/workflows/labeler.yml
  .github/workflows/node-version.yaml
  .github/workflows/pnpm-version.yaml
  .github/workflows/release.yaml
Due: none

fix: use yaml
  .github/workflows/labeler.yml
Due: none

fix: husky
  .husky/pre-commit
Due: none

chore: labeler
  .github/workflows/labeler.yaml
  .lintstagedrc.json
  .prettierignore
Due: prettier --write

fix: workflows
  .github/workflows/node-version.yaml
  .github/workflows/pnpm-version.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-context.yaml
  package.json
Due: prettier --write

fix: workflows
  .github/workflows/release.yaml
Due: none

fix: better defaults
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
Due: prettier --write

fix: eslint
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: prettier --write, eslint --fix

fix: set-output
  .github/workflows/release.yaml
  .github/workflows/workflow-call-context.yaml
Due: none

chore: update renovate.json5
  .github/renovate.json5
Due: none

fix: syncpack
  .husky/pre-commit
  .syncpackrc.json
  package.json
  pnpm-lock.yaml
  scripts/constants.mjs
Due: prettier --write

fix: updates
  .syncpackrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: set module resolution to bundler
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: src/**/*.{js,mjs,cjs,ts,tsx,jsx})) or (any of: src/**/*.graphql)
  eslint --fix: any of: src/**/*.{js,mjs,cjs,ts,tsx,jsx}
