Repository escapace/typescript-library-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: updates
  .github/labeler.yaml
  .github/workflows/labeler.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update
  .github/codecov.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: eslint
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: eslint
  .c8rc.json
Due: prettier --write

chore: eslint
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: prettier --write, eslint --fix

chore: workflow
  .c8rc.json
  .editorconfig
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
  .github/workflows/retention-policy.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .ls-lint.yaml
  .syncpackrc.json
  eslint.config.mjs
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
  scripts/test.mjs
  src/index.spec.ts
  tsconfig-build.json
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

fix: updates
  .browserslistrc
  .eslintignore
  .gitignore
  .prettierignore
  LICENSE
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/constants.json
  src/esroll.d.ts
  src/index.ts
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix

chore: updates
  .ls-lint.yaml
  knip.json
Due: prettier --write

chore: updates
  .github/renovate.json5
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: updates
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: updates
  .browserslistrc
  .github/codecov.yaml
  .github/workflows/release.yaml
  .ls-lint.yaml
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.browser.ts
  vitest.config.node.ts
  vitest.config.ts
  vitest.workspace.ts
Due: prettier --write

chore: updates
  package.json
  pnpm-lock.yaml
  scripts/constants.json
Due: prettier --write

chore: updates
  .eslintignore
  .prettierignore
  LICENSE
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/constants.json
  src/esroll.d.ts
  vitest.config.browser.ts
  vitest.config.node.ts
Due: prettier --write, eslint --fix

fix: upkeep
  .eslintignore
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
  scripts/constants.json
Due: prettier --write

fix: upkeep
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
  scripts/constants.json
Due: prettier --write

chore: updates
  .github/dependabot.yaml
  pnpm-lock.yaml
Due: none

chore: consistent test directory naming
  vitest.config.browser.ts
  vitest.config.node.ts
Due: none

chore: updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upkeep
  package.json
  pnpm-lock.yaml
  scripts/constants.json
Due: prettier --write

chore: upkeep
  package.json
Due: prettier --write

chore: lint
  .lintignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: updates
  .browserslistrc
  .github/workflows/release-github-pages.yaml
  .github/workflows/release.yaml
  .gitignore
  .ls-lint.yaml
  .syncpackrc.json
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build.ts
  scripts/constants.json
  tsconfig-build.json
  tsconfig.json
  vitest.config.ts
  vitest.workspace.ts
Due: prettier --write

fix: updates
  .github/dependabot.yaml
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build.ts
  scripts/constants.json
Due: prettier --write

fix: updates
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/release-github-pages.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/constants.json
Due: prettier --write

fix: updates
  .github/dependabot.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: workflow permissions
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release-github-pages.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
Due: none

fix: updates
  .github/workflows/auto-merge.yaml
  .gitignore
  .syncpackrc.json
  knip.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  syncpack.config.mjs
  tsconfig-build.json
  tsconfig.json
Due: prettier --write

chore: upkeep
  package.json
  scripts/constants.json
  vitest.config.browser.ts
  vitest.config.node.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.json) or (any of: *.md)) or (any of: src/**/*.{js,mjs,cjs,ts,tsx,jsx})) or (any of: src/**/*.graphql)
  eslint --fix: any of: src/**/*.{js,mjs,cjs,ts,tsx,jsx}
